<div class="container picture-rightside-border">
    <div class="cv-left">
        <h1 class="cv-title">CV</h1>
        <h2 class="cv-undertitle">Personlige Oplysninger</h2>
        <div class="cv-info">
            <div class="cv-info-left">
                <p class="cv-text">Navn:</p>
                <p class="cv-text">Fødselsdato:</p>
                <p class="cv-text">Uddannelse Status:</p>
            </div>
            <div class="cv-info-right">
                <p class="cv-text">Tue Munch Madsen</p>
                <p class="cv-text">3. Januar 2003</p>
                <p class="cv-text">H2 Gennemført</p>
            </div>
        </div>
    </div>
    <img src="./assets/notebook.jpg" alt="Notebook picture" class="cut-corner-left cv-picture">
</div>
<div class="container">
    <div class="free-left">
        <div class="free-bouldering-container">
            <h1 class="free-text-title">Bouldering/Klatring</h1>
            <p class="free-text">Jeg har været medlem af klatreklubben Bison Boulders i et halvt år, og har klatret i ca 2 år i
                forskellige andre klubber. Lige nu er jeg igang med at træne op til at klatre en sværhedgrad højere.</p>
            <p class="free-text">Jeg klatre regelmæssigt 2-3 gange om ugen, og træner når jeg har tid de andre dage.</p>
            <p class="free-text">Når jeg klatre har jeg 1-2 venner med, og invitere tit flere hvis de har interesse for at prøve klatring.</p>
        </div>
        <div class="free-archery-container">
            <h1 class="free-text-title">Bueskydning</h1>
            <p class="free-text">Jeg har også høj interesse for Bueskydning, men er ikke medlem af en klub.</p>
            <p class="free-text">Jeg er altid frisk på at tage ud og skyde med bue og pill når jeg har mulighed for det.</p>
        </div>
    </div>
    <div class="free-picture-container">
        <img src="./assets/Bouldering.png" alt="bouldering Picture" class="free-bouldering-cut free-picture">
        <img src="./assets/Archery.jpeg" alt="Archery Picture" class="free-archery-cut free-picture">
    </div>
</div>

<!--./assets/notebook.jpg-->