<div class="container picture-rightside-border">
    <div class="cv-left">
        <h1 class="cv-title">CV</h1>
        <h2 class="cv-undertitle">Personlige Oplysninger</h2>
        <div class="cv-info">
            <div class="cv-info-left">
                <p class="cv-text">Navn:</p>
                <p class="cv-text">Fødselsdato:</p>
                <p class="cv-text">Uddannelse Status:</p>
            </div>
            <div class="cv-info-right">
                <p class="cv-text">Tue Munch Madsen</p>
                <p class="cv-text">3. Januar 2003</p>
                <p class="cv-text">H2 Gennemført</p>
            </div>
        </div>
    </div>
    <img src="./assets/notebook.jpg" alt="Notebook picture" class="cut-corner-left cv-picture">
</div>
<div class="container">
    <div class="free-left">
        <h1>Bouldering/Klatring</h1>
        <p>Jeg har været medlem af klatreklubben Bison Boulders i et halvt år, og har klatret i ca 2 år i forskellige andre klubber</p>
        <p>Jeg klatre regelmæssigt 2-3 gange om ugen, sammen med 1-4 venner.</p>

    </div>
    <div class="free-picture-container">
        <img src="./assets/Bouldering.png" alt="bouldering Picture" class="free-bouldering-cut free-picture">
        <img src="./assets/Archery.jpeg" alt="Archery Picture" class="free-archery-cut free-picture">
    </div>
</div>

<!--./assets/notebook.jpg-->