<div class="container">
    <div class="cv-left">
        <h1 class="cv-title">CV</h1>
        <h2 class="cv-undertitle">Personlige Oplysninger</h2>
        <div class="cv-info">
            <div class="cv-info-left">
                <p class="cv-text">Navn:</p>
                <p class="cv-text">Fødselsdato:</p>
                <p class="cv-text">Addresse:</p>
                <br>
                <p class="cv-text">Mobil Nr.:</p>
                <p class="cv-text">Email:</p>
                <p>Uddannelse Status:</p>
            </div>
            <div class="cv-info-right">
                <p>Tue Munch Madsen</p>
                <p>3. Januar 2003</p>
                <p>Nørrevang 31, Kraghave<br>4800 Nykøbing F.</p>
                <p>29 10 03 01</p>
                <p>TuePVM@gmail.com</p>
                <p>H2 Gennemført</p>
            </div>
        </div>
    </div>
    <img src="./assets/notebook.jpg" alt="Notebook picture" class="cut-corner-left cv-picture">
</div>
<div class="container">
    <div class="cv-left">
        <h1>Fritiden</h1>
        <p></p>
    </div>
    <img src="./assets/Bouldering.png" alt="bouldering Picture" class="cut-corner-left free-picture">
</div>

<!--./assets/notebook.jpg-->