<div class="container toppart">
    <!--Left side of intro-->
    <div>
        <!--Intro headline-->
        <div class="intro-headline">
            <!-- <h1 class="intro-headline-left">&#60;</h1> --> <!-- NOT USED ATM -->
            <div class="content">
                <h1>Elev Til Programmør</h1> <!--Nysgerrig Elev inden for Softwareverdenen-->
                <h1>Elev Til Programmør</h1> <!--Nysgerrig Elev inden for Softwareverdenen-->
            </div>
            <!-- <h1 class="intro-headline-right">&#62;</h1> --> <!-- NOT USED ATM -->
        </div>
        <!--Left side of intro thingy-->
        <div class="intro-left-container">
            <!--Intro text-->
            <p class="intro-text" id="grid-first">Jeg er en Datatekniker programerings elev som er dybt interesseret for
                programmering.</p>
            <p class="intro-text" id="grid-second">Som programmeringselev er jeg motiveret til at udvikle mine evener
                inden for både front-end og back-end programmering.</p>
            <p class="intro-text" id="grid-third">Jeg søger en spændende mulighed for at få en læreplads inden for
                softwareudvikling og udvikle mine færdigheder yderligere.</p>
            <img class="intro-cv-picture" id="grid-forth" src="./assets/CvPic.jpg" alt="picture of me">
        </div>
    </div>
    <!--Right side of intro-->
    <img class="intro-picture cut-corner-left" src="./assets/Coding.jpg" alt="coding picture">

</div>