<div class="container toppart">
    <img src="" alt="">
    <div>
        <h1>Lidt om mig</h1>
        <p>
            Jeg er en højt engageret Datatekniker programerings elev, Som har været gennem 2 hovedforløb inden for programmering.
            Som programmeringselev er jeg passioneret for at lære og udvikle mine færdigheder inden for softwareudvikling.
            Jeg søger en spændende mulighed for at få en læreplads inden for softwareudvikling og udvikle mine færdigheder yderligere.
        </p>
    </div>

</div>