<div class="container toppart">
    <!--Left side of intro-->
    <div>
        <!--Intro headline-->
        <div class="intro-headline">
            <!-- <h1 class="intro-headline-left">&#60;</h1> -->
            <div class="content">
                <h1>Elev Til Programmør</h1> <!--Nysgerrig Elev inden for Softwareverdenen-->
                <h1>Elev Til Programmør</h1> <!--Nysgerrig Elev inden for Softwareverdenen-->
            </div>
            <!-- <h1 class="intro-headline-right">&#62;</h1> -->
        </div>
        <p class="intro-text"> <!--Intro text-->
            Jeg er en højt engageret Datatekniker programerings elev, som har gennemført 2 hovedforløb inden for
            programmering.<br>
            Som programmeringselev er jeg passioneret for at lære og udvikle mine færdigheder inden for
            softwareudvikling.<br>
            Jeg søger en spændende mulighed for at få en læreplads inden for softwareudvikling og udvikle mine
            færdigheder yderligere.
        </p>
    </div>
    <!--Right side of intro-->
    <img class="intro-picture cut-corner-left" src="./assets/Coding.jpg" alt="coding picture">

</div>