<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV</title>
</head>

<body>
  <nav class="nav-bar">
    <div class="nav-left">
      <h1 class="nav-title">Cv Application</h1>
    </div>
    <ul class="nav-list">
      <input class="nav-link" type="button" onClick="document.getElementById('intro').scrollIntoView();" value="Intro"/>
      <input class="nav-link" type="button" onClick="document.getElementById('cv').scrollIntoView();" value="CV"/>
      <input class="nav-link" type="button" onClick="document.getElementById('projects').scrollIntoView();" value="Projects"/>

    </ul>
  </nav>
  <app-intro id="intro"></app-intro>
  <app-cv id="cv"></app-cv>
  <app-projects id="projects"></app-projects>
  <footer>
    <div class="footer-content">
      <p>&copy; 2023 Tue Madsen</p>
    </div>
  </footer>
</body>

</html>